@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display=swap');

:root {
    --font-family: "Bebas Neue", sans-serif;
    --second-family: "Dancing Script", sans-serif;
    --primary-color: #353535;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: var(--primary-color);
}


h1 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 86px;
    font-weight: 400;
    color: var(--secondary-color);
}

p {
    text-align: center;
    font-family: var(--second-family);
    font-size: 40px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 40px;
}

button {
    font-size: 24px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: var(--secondary-color);
    background: transparent;
    padding: 10px 14px;
    margin: 0 90px;
}

button:hover {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    color: var(--secondary-color);
    transition: .2s;
}
/* -------------------------------------------------------------------------- */
